@import url('https://fonts.googleapis.com/css?family=Patua+One');

*{
	font-family: 'Patua One', cursive;
	margin: 0;
	padding: 0;
}

body{
	background-color: tomato;
}
body, main{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	width: 100%;
}

header, main > *{
	margin: 3vh auto;
}

h1{
	font-size: 8vh;
}

#mapContainer {
	width: 80%;
	height: 500px;
}

input, button{
	margin: 5px 0;
	height: 5vh;
	width: 100%;
}

input[type="number"]{
	width: 80%;
	text-align:center;
	font-size: 3vh;
}

button{
	background-color: white;
	font-size: 2vh;
	border-radius: 5px;
	border: 1px solid grey;
	width: 60%;
}

button:hover{
	background-color: #EAEAEA;

}

#formDistance{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	width: 50%;
}

#formDistance p {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

p span{
	font-size: 4vw;
}